<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="swaggerwcf" type="SwaggerWcf.Configuration.SwaggerWcfSection,SwaggerWcf" />
  </configSections>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--日志文件名路径-->
      <param name="File" value="LogFiles/" />
      <!--是否追加到文件-->
      <param name="AppendToFile" value="true" />
      <!--保存个数-->
      <param name="MaxSizeRollBackups" value="7" />
      <!--日期的格式-->
      <param name="DatePattern" value="yyyyMMdd&quot;.htm&quot;" />
      <maxSizeRollBackups value="50" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="false" />
      <param name="RollingStyle" value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="&lt;HR COLOR=red&gt;&lt;font size=4&gt;%n时间：%d [%t] &lt;BR&gt;%n级别：%-5p &lt;BR&gt;%n 类：%c [%x] &lt;BR&gt;%n%m &lt;BR&gt;%n &lt;HR Size=1&gt;" />
      </layout>
    </appender>
    <root>
      <level value="All" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
  <swaggerwcf>
    <tags>
      <tag name="LowPerformance" visible="false" />
    </tags>
    <settings>
      <setting name="InfoDescription" value="Sample Service to test SwaggerWCF" />
      <setting name="InfoVersion" value="0.0.1" />
      <setting name="InfoTermsOfService" value="Terms of Service" />
      <setting name="InfoTitle" value="SampleService" />
      <setting name="InfoContactName" value="Abel Silva" />
      <setting name="InfoContactUrl" value="http://github.com/abelsilva" />
      <setting name="InfoContactEmail" value="no@e.mail" />
      <setting name="InfoLicenseUrl" value="https://github.com/abelsilva/SwaggerWCF/blob/master/LICENSE" />
      <setting name="InfoLicenseName" value="Apache License" />
    </settings>
  </swaggerwcf>
  <connectionStrings>
    <add name="Frame_connectionString" connectionString="Database=FrameDomain;Data Source=localhost;User Id=sa;Password=11111;pooling=false;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <!--约定ValidateData-->
    <add key="ValidateData" value="love" />
  </appSettings>
  <system.web>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="restEndPointBehavior">
          <webHttp automaticFormatSelectionEnabled="true" />
          <JsonBehavior />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="restServiceBehavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="JsonBehavior" type="JsonBehavior.Json.JsonBehaviorExtension,JsonBehavior" />
      </behaviorExtensions>
    </extensions>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <bindings>
      <webHttpBinding>
        <binding name="restWebHttpBinding" contentTypeMapper="JsonBehavior.Json.JsonContentTypeMapper,JsonBehavior" />
      </webHttpBinding>
    </bindings>
    <services>
      <service name="QCWService.Service.JsonInfo" behaviorConfiguration="restServiceBehavior">
        <endpoint behaviorConfiguration="restEndPointBehavior" binding="webHttpBinding" bindingConfiguration="restWebHttpBinding" contract="QCWService.Service.IJsonInfo" />
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--跨域配置-->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Accept,X-Requested-With,Content-Type,Origin" />
        <add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE,OPTIONS" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.0.0" newVersion="4.6.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>